body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Space Mono', monospace;
    text-align: center;
    color: gray;
    background: rgb(242, 234, 248);
}

h1 {
    font-size: 1.5em;
    font-weight: 700;
}

ul {
    list-style: square inside;
}

.gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 60vh;
    background: url("media/background.png") no-repeat top;
    background-size: cover;
    border-radius: 30px;
}

.narrationDiv {
    width: 47.5vw;
    height: 15vh;
    padding: 1em;
    background: beige;
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
}

.buttons {
    background: beige;
    color: inherit;
    font-family: inherit;
    border: none;
}

.buttons:hover {
    background-color: brown;
}