body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Space Mono', monospace;
    color: gray;
    background: rgb(242, 234, 248);
}

.gameDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 50vw;
    height: 60vh;
    background: url("media/background.png") no-repeat top;
    background-size: cover;
    border-radius: 30px;
}

.narrationDiv {
    width: auto;
    height: 15vh;
    padding: 1em;
    background: rgb(250, 246, 244);
    border-color: grey;
    border-style: solid;
    border-width: 2px;
    border-radius: 3px;
}